Package: fastboot-assistant
Version: 0.6.2
Depends: adb, fastboot, xz-utils, unzip, wget, curl, pkexec, libgtk-4-1 (>= 4.0.0), heimdall-flash, heimdall-flash-frontend, coreutils, libc6 (>= 2.15), xdg-desktop-portal, xdg-desktop-portal-gtk, xdg-utils
Maintainer: Elias Moerz <elias.moerz@mail.de>
Architecture: amd64
Section: Utils
Description: Program to facilitate the installation of custom ROMs and GSIs on Android devices.
