window {
    background-color: #f0f0f0;
    border: 2px solid #8B0000;
    border-radius: 35px;
    padding: 12px 24px;
    color: #000000;
    font-size: 16px;
}

headerbar {
    background-color: #f0f0f0;
    font-weight: bold;
    border: 2px solid #8B0000;
    border-radius: 35px;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 16px;
}

button {
    border: 2px solid #8B0000;
    border-radius: 35px;
    padding: 24px 48px;
    color: #FFFFFF;
    font-size: 16px;
}

button:hover {
    background-color: #A52A2A;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

label {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

notebook {
    background-color: #f0f0f0;
    border: 2px solid #8B0000;
    border-radius: 35px;
}

notebook tab {
    background-color: #f0f0f0;
    border: 2px solid #8B0000;
    border-radius: 35px;
}

notebook tab:selected {
    background-color: #FF0000;
    color: black;
}

.label-title {
	color: #000000;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.frame-style {
    border: 2px solid #8B0000;
    border-radius: 8px;
    padding: 10px;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
    color: #000000;
}
