Source: fastboot-assistant
Section: utils
Priority: optional
Maintainer: Elias Mörz <elias.moerz@mail.de>
Build-Depends: debhelper-compat (= 13), rsync, libgtk-4-dev (>= 4.10), libadwaita-1-dev, libsecret-1-dev, pkgconf, gcc (>= 14), make (>= 4.0)
Standards-Version: 4.6.2
Homepage: https://github.com/NachtsternBuild/fastboot-assistant

Package: fastboot-assistant
Architecture: amd64
Depends: adb, fastboot, xz-utils, unzip, zip, wget, curl, pkexec, libgtk-4-1 (>= 4.10), heimdall-flash, heimdall-flash-frontend, xdg-desktop-portal, xdg-desktop-portal-gtk, xdg-utils, libadwaita-1-0 (>= 1.6), ${misc:Depends}
Description: GUI for flashing Android devices using Fastboot or Heimdall.
 Fastboot Assistant provides a graphical interface for flashing devices,\n installing recoveries, and managing partitions using Android Fastboot or Samsung Heimdall protocols.
